.signInContent {
  box-sizing: border-box;
  background-color: white;
  width: 300px;
  margin: 0 auto;
  margin-top: 3rem;
  padding: 2rem;
}

.signInIcon {
  font-size: 5rem;
}

.inputRemember {
  display: flex;
}

.inputRemember label {
  margin-left: 0.25rem;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 1rem;
}

.inputWrapper label {
  font-weight: bold;
}

.inputWrapper input {
  padding: 5px;
  font-size: 1.2rem;
}
